config.h
config.log
config.status
Makefile
src/*.o
man/cpm.5
src/cpmchattr
man/cpmchattr.1
src/cpmchmod
man/cpmchmod.1
src/cpmcp
man/cpmcp.1
src/cpmls
man/cpmls.1
src/cpmrm
man/cpmrm.1
src/fsck.cpm
man/fsck.cpm.1
src/fsed.cpm
man/fsed.cpm.1
src/mkfs.cpm
man/mkfs.cpm.1
